<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myexample.twotables">
    <uses-sdk android:minSdkVersion="17"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".PersonActivity"
                  android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DepartmentActivity"
                  android:label="@string/departments">
        </activity>
        <provider android:name=".contentprovider.ProjectProvider"
                  android:authorities="com.myexample.twotables.contentprovider">
        </provider>
    </application>
</manifest>
